<!DOCTYPE html>
<html>
  <head>
    <title>SoundLinks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags default_meta_tags %>
    <%= stylesheet_pack_tag "application" %>
    <%= javascript_pack_tag "application" %>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
